/*
  Stylesheet started by Simon Bird (s3916032)
  For use with Assignment 2 - Team Project
*/

body {
  font-family: 'Bahnschrift Light', Arial, sans-serif;
  font-size: 18px;
  color: white;
  background-color: #2c2e2f;
  margin: 40px;
  min-width: 200px;
}

/* If the screen is larger than 960px, increase the font-size and horizontal margin */
@media only screen and (min-width: 960px) {
  body {
    font-size: 22px;
    margin: 40px 60px;
  }
}

/* If the screen is smaller than 320px, decrease the font-size and margin */
@media only screen and (max-width: 320px) {
  body {
    font-size: 16px;
    margin: 20px 10px;
  }
}

#top-header {
  color: white;
  padding-left: 20px;
  display: inline-block;
}

#bottom-footer {
  font-size: 0.75em;
  color: #a2a2a2;
  min-width: inherit;
  text-align: center;
}

#breadcrumb-container {
  text-align: center;
  margin-top: inherit;
  min-width: inherit;
  margin: 20px auto;
}

#breadcrumb-container a {
  text-decoration: none solid;
  color: white;
  background: border-box #5e73a7;
  border-radius: 12px;
  margin: 10px auto;
  padding: 5px 40px;
  display: inline-block;
}

.main-header {
  background-color: #5e73a7;
  padding: 10px 20px;
  border-radius: 12px;
  min-width: inherit;
}

.main-container {
  background-color: #4f4f4f;
  border-radius: 12px;
  padding: 20px 20px;
  margin: 20px 0;
  min-width: 200px;
}

.sub-container {
  font-size: 0.9em;
  color: white;
  margin: 10px 0;
}

.image-container {
  font-size: 12px;
  color: #a2a2a2;
  margin: auto;
  width: 100%;
  max-width: 550px;
  max-height: auto;
}

.image-container img {
  border-radius: 12px;
  width: 100%;
  height: auto;
  max-height: 575px;
}
