/*
  Stylesheet started by Simon Bird (s3916032)
  For use with Assignment 2 - Team Project
*/

body {
  font-family: 'Arial Nova', Arial, sans-serif;
  font-size: 18px;
  color: #393939;
  background-image: linear-gradient(to bottom, #cdcdcd, #e3e3e3 200px 90%, #6c6c6c);
  margin: 10px 10% 40px 10%;
  min-width: 100px;
}

header {
  color: white;
  width: inherit;
  margin: auto;
  min-width: inherit;
}

header img {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 100px;
}

header h1 {
    text-align: center;
    text-shadow: 0px 1px 3px #8c8c8c;
    margin-left: -12px;
    width: 100%;
}

footer {
  font-size: 0.75em;
  color: white;
  min-width: inherit;
  text-align: center;
  text-shadow: -1px 0px 2px #4e4e4e;
}

footer a {
  text-decoration: none solid;
  color: white;
}

a.sub-button {
  text-decoration: none solid;
  color: white;
  flex-shrink: 1;
  font-size: 0.9em;
  text-align: center;
  background: border-box linear-gradient(to bottom, #f19f41, #e78b1f);
  border-radius: 2px;
  padding: 10px 2%;
  min-width: 200px;
  border-left-style: solid;
  border-left-color: rgba(204, 121, 28, 0.4);
  border-left-width: 3px;
  display: block;
  transition: border-left-width 0.2s, margin-right 0.2s;
}

a.sub-button:hover {
  background: border-box linear-gradient(to bottom, #eeb06a, #e29337);
  margin-right: -12px;
  border-left-width: 12px;
  border-left-style: solid;
  border-left-color: rgba(204, 121, 28, 0.4);
  transition: border-left-width 0.2s, margin-right 0.2s, background-color 0.2s;
}

a.sub-button:active {
  background: border-box #aa6616;
  margin-right: 0;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: rgba(235, 146, 45, 0.6);
  transition: border-left-width 0.05s, margin-right 0.05s;
}

nav#breadcrumb-container {
  display: flex;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: transparent;
  border-radius: 1px;
  text-align: center;
  min-width: inherit;
  margin: 10px auto;
  transition: border-left-width 0.2s 0.4s;
}

nav#breadcrumb-container div {
  position: relative;
  margin-right: 5px;
  width: 25%;
}

nav#breadcrumb-container a {
  text-decoration: none solid;
  color: white;
  flex-shrink: 1;
  font-size: 0.9em;
  white-space: pre;
  background: border-box linear-gradient(to bottom, #65a9f7, #3277df);
  border-radius: 2px;
  padding: 6px 10%;
  border-left-style: solid;
  border-left-color: rgba(60, 60, 120, 0.6);
  border-left-width: 3px;
  display: block;
  transition: border-left-width 0.2s, margin-right 0.2s;
}

nav#breadcrumb-container a:hover {
  background: border-box linear-gradient(to bottom, #7db5f5, #4784e0);
  margin-right: -12px;
  border-left-width: 12px;
  border-left-style: solid;
  border-left-color: rgba(40, 40, 80, 0.4);
  transition: border-left-width 0.2s, margin-right 0.2s, background-color 0.2s;
}

nav#breadcrumb-container a:active {
  background: border-box #274677;
  margin-right: 0;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: rgba(40, 40, 80, 0.4);
  transition: border-left-width 0.05s, margin-right 0.05s;
}

div.main-header {
  color: white;
  background: border-box linear-gradient(to bottom, #65a9f7, #4a87e2);
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: rgba(40, 40, 80, 0.4);
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 2px;
  min-width: inherit;
  transition: border-left-width 0.2s 0.4s;
}

header.sub-header {
  text-align: center;
  width: 100%;
  margin-left: -12px;
  font-size: 0.8em;
  color: #393939;
}

div.main-container {
  background-color: #d9d8d8;
  text-align: left;
  border-left: 6px solid rgba(20, 20, 20, 0.3);
  border-radius: 2px;
  padding: 20px 10% 20px calc(10% + 12px);
  margin-bottom: 20px;
  min-width: inherit;
  transition: border-left-width 0.2s 0.4s;
}

div.sub-container {
  word-wrap: break-word;
  font-size: 0.8em;
  color: #393939;
  margin: 10px;
  margin-left: -6px;
}

div.image-container {
  font-size: 12px;
  text-align: center;
  color: #5e5e5e;
  margin: auto;
  margin-bottom: 40px;
  width: 100%;
  height: 100%;
  max-width: auto;
  max-height: auto;
}

div.image-container img {
  width: 90%;
  height: auto;
  margin-top: 30px;
  max-height: 575px;
  border-radius: 5px;
}

div.line {
  width: auto;
  background-color: #94a2c8;
  border-left: 6px solid rgba(40, 40, 80, 0.4);
  height: 4px;
  padding: 0;
  transition: border-left-width 0.6s;
}

/* If the screen is larger than 1080px, increase the font-size and horizontal margin */
@media only screen and (min-width: 1080px) {
  body {
    margin: 40px 20%;
  }

  div.main-container {
    padding: auto 30px;
  }
}

/* If the screen is smaller than 600px, decrease the font-size and margin */
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
    margin: 20px 10px;
  }

  nav#breadcrumb-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: none;
  }

  nav#breadcrumb-container a {
    width:auto;
  }

  nav#breadcrumb-container div {
    width: 100%;
  }

  div.image-container {
    display: none;
  }

  div.sub-header {
    font-size: 0.8em;
  }
}
